
    <mat-card class="card">
      
      <mat-card-header>
        <mat-card-title class="text"> {{Items.name}}</mat-card-title>
        <mat-card-subtitle class="text">
          <p *ngIf="Items.value"> <span class="label">Value:</span>
            {{Items.value}}
          </p>
        </mat-card-subtitle>
        <img mat-card-xl-image id="img" [src]="Items.imageUrl" >
      </mat-card-header>
      <mat-card-content id="content">
        
        <p class="text" *ngIf="Items.description"> <span class="label">Description:</span>
          {{Items.description}}
        </p>

        <p>
            <button class="button" *ngIf="IsinInventory()" mat-button (click)="goToItemEdit()">edit</button>
            <button class="button" *ngIf="Items.owner_Id!=userid" mat-button (click)="yoink2(Items.id,Items.owner_Id)">Trade</button>
            <button class="button" *ngIf="IsinInventoryAndIsReady()" mat-button (click)="yoink1(Items.id)">AddToOffer</button>
        </p>

      </mat-card-content>
    </mat-card>
