
    <mat-card class="card">
      <mat-card-title> {{Items.name}}</mat-card-title>
      <mat-card-content>
        <p *ngIf="Items.description"> <span class="label">Description:</span>
          {{Items.description}}
        </p>
        <p *ngIf="Items.value"> <span class="label">Value:</span>
          {{Items.value}}           item id ---------> {{Items.id}}
        </p>
        <p>
          <img id="img" [src]="Items.imageUrl" >
        </p>
        <p *ngIf="IsinInventory()">
          <button (click)="goToItemEdit()">edit</button>
        </p>

        <p *ngIf="Items.owner_Id!=userid"  >
            <button (click)="yoink2(Items.id,Items.owner_Id)">Trade</button>
        </p>

        <p *ngIf="IsinInventory()">
          <button (click)="yoink1(Items.id)">AddToOffer</button>
        </p>
        
      </mat-card-content>
    </mat-card>
