
<mat-card class="card">
  <mat-card-header class="Header">
    <mat-card-title> 
      <p>
        Offer  {{Offers.id}}
      </p>
    </mat-card-title>
  </mat-card-header>
    
   
    <mat-card-content class="content">
      
        <p class="description"> 
            You receive {{iteminfo1.name}} with {{iteminfo1.value.toString()}} Value from {{player1info[0].firstName}} {{player1info[0].lastName}} 
          </p>
          <p class="for">
            FOR
          </p>

          <p class="description"> 
            Your {{iteminfo2.name}} with {{iteminfo2.value.toString()}} Value 
          </p>

          <p class="buttons">
            <button class="button" mat-button (click)="onAccept(Offers.id)">Accept</button>
            <button class="button" mat-button (click)="onDelete(Offers.id)">Decline</button>
          </p>
          
          
    </mat-card-content>
</mat-card>
